<div class="container">
    <br>

    <h2>Editar producto</h2>

    <div class="form-row" *ngIf="showMsg">
        <div class="alert alert-{{type}} col-md-12" role="alert">
            {{msg}}
        </div>
    </div>

    <form #productoForm="ngForm" *ngIf="producto">
        <div class="form-row">
            <div class="col-md-4">
                <label>Nombre:</label>
                <input type="text" id="nombreProducto" name="nombreProducto" placeholder="Ingrese el nombre" class="form-control"
                    #nombreProducto [(ngModel)]="producto.NombreProducto">
            </div>
            <div class="col-md-4">
                <label>Precio:</label>
                <input type="text" id="precioUnitario" name="precioUnitario" placeholder="Ingrese el precio" class="form-control"
                    #precioUnitario [(ngModel)]="producto.PrecioUnitario">
            </div>
            <div class="col-md-4">
                <label>Stock:</label>
                <input type="text" id="stock" name="stock" placeholder="Ingrese la cantidad" class="form-control"
                    #stock [(ngModel)]="producto.Stock">
            </div>
        </div>
        <br>
        <button class="btn btn-success btn-sm" (click)="edit()">Guardar</button>
        <br>
        <br>
        <a class="btn btn-outline-primary btn-sm" [routerLink]="[ '/lista-productos']">Ver productos</a>
    </form>
</div>
